/dist/
/build/
/manifest.mf
/.jacocoverage
/nbproject/private
jacoco*
/secret
/src/com/github/chungkwong/sillytranslate/sentence/baidu.properties
/src/com/github/chungkwong/sillytranslate/sentence/yandex.properties
